# Dependencies
node_modules/
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo

# Next.js
.next/
out/
build/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker persistent volumes local cache
*.sqlite
*.db
